:root {
    --color-text: #FFFBFB;
    --color-block: #272727;
    --color-element: #C19543;
    --color-element-active: #664a15;

    --background: #000;
    --color-block-hover: rgb(37 35 32);

    --media-phone: 550px;
    --media-table: 800px;

    --font-text: 'Inter';
    --font-title: 'Cormorant Infant';

    --animation-time: .7s;

    --hover: all var(--animation-time) ease
}